.cyan {
    color: darkcyan;
}
.dashblocks {
    background: #333333;
    background-size: cover;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-repeat: no-repeat;
    font-weight: 600;
    width: auto;
    line-height: 150px;
    margin: 7px;
}
.dashblocks p {
    vertical-align: middle;
}
