<div class="well padded">
<div class='row'>
    <h2>{{company}}</h2>
    <span class="label label-info caption">{{slogan}}</span>
    <br/>
    <br/>

    <h3 class="budge_title">Cap Your Week's Budget</h3>

</div>

<div class="row data">$0{{amount}}</div>

<div class="progress">
    <div class="progress-bar progress-bar-success" style="width: {{amount/50}}%"><span class="sr-only">35% Complete (success)</span></div>
    <div class="progress-bar progress-bar-warning" style="width: {{amount/20}}%"><span class="sr-only">20% Complete (warning)</span></div>
    <div class="progress-bar progress-bar-danger" style="width: {{100 - ((7*amount)/100)}}%"><span class="sr-only">10% Complete (danger)</span></div>
</div>
<div class="row labelsrow">
    <span class="label label-success">Purchases</span>

    <span class="label label-warning">Sweet Spot</span>
  
    <span class="label label-danger">Passes</span>
</div>

<div class="row">
    <input type="range" min="0" max="800" value="0" step="10" name="cash" ng-model="amount" />
    <button class="btn btn-primary" ng-click="save()"> Save To Firebase </button>
</div></div>

<div class="row">
    <h3 class="budge_title">Purchases Thus Far</h3>
    <graph></graph>
</div>
